.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-color: #f1f1f1;
}

.header-section .head-label{
  float: left;
  font-size: 35px;
}

.side-filter-box {
  border: 1px solid #000000;
  margin: 20px;
  padding: 10px;
  padding-left: 20px;
  text-align: left;
}

.side-filter-box .form-group input {
  text-align: left;
}

.side-filter-box .filter-form-group{
  display: -webkit-inline-box;
  float: left;
}

.header-main .character-main{
  background-color: #827f7f;
}

.header-main .character-main img{
  width: 100%;
}

.header-main .character-main .character-content{
  padding:5px
}

.header-main .character-main .character-content .image-container {
  position: relative;
}

.header-main .character-main .character-content .image-container p.name-container {
  position: absolute;
  bottom: -10px;
  background-color: #000;
  opacity: 0.5;
  color: #fff;
  width: 100%;
  height: 40px;
}

.header-main .character-main .character-content .image-container p.name-container .id-age {
  font-size: 10px;
}

.form-check-label{
  margin: 10px;
}

.character-main .table{
  background-color: #4e504e;
}

.character-main .table td{
  color: #fff;
  font-size: 14px;
}

.App.container.row{
  width: 100%;
}

.col-sm-3.col-xs-6.character-content td {
  height: 60px;
  vertical-align: bottom;
}

.col-sm-3.col-xs-6.character-content td.td-label {
  text-align: left;
}

.col-sm-3.col-xs-6.character-content td.td-value {
  text-align: right;
  color: #ffa500;
}

.sort-id-container{
  text-align: left;
}

.sidebar-section .fa-plus-circle{
  cursor: pointer;
}

.whole-loader{
  left: 50%;
  margin-left: -7.5em;
  position: fixed;
  top: 50%;
}

.multi-select-container{
  position: relative;
  text-align: left;
}

.multi-select-container .multi-option-container{
  position: absolute;
  width: 100%;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #8a8a8a;
  display: none;
}

.multi-select-container .multi-option-container .form-check{
  border: 1px solid #8a8a8a;
  padding-left: 10px;
}

.multi-select-container:hover .multi-option-container{
  display: block !important;
}

.selected-filters{
  text-align: left;
}

.selected-filters{
  font-weight: bold;
}

.selected-filters .item{
  background-color: #827f7f;
  color: #fff;
  vertical-align: middle;
  border: 1px solid #f1f1f1;
  text-align: center;
  height: 40px;
}

.selected-filters .item .fa-times{
  cursor: pointer;
}